
.container_banner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: var(--color-blue-degrade);
    color: var(--color-bk-white);
    height: 140px;
    padding: 32px 24px;
}

.banner_title {
    font-size: 18px;
    font-weight: 700;
}

.banner_msg {
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
    width: 316px;
    line-height: normal;
}

.banner_search {
    text-align: center;
    margin-top: 24px;
    width: 380px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid var(--color-white);
    padding: 10px 24px;
    background-color: transparent;
    color: var(--color-white);
}

.banner_search::placeholder {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-white);
    background: url("../resourses/images/Pesquisa.svg") no-repeat;
    background-position: 14px;
}

@media screen and (min-width: 1024px) {
    .banner_title {
        font-size: 36px;
        font-weight: 700;
    }

    .banner_msg {
        width: auto;
    }

    .banner_search {
        width: 476px;
    }

    .banner_search::placeholder {
        background-position: 60px;
    }

    .container_banner {
        /* height: 300px; */
        padding: 85px 0px;
    }
}