hr {
    margin: 0;
}

.container__footer {
    background-color: #F9F9F9;
    text-align: left;
    padding: 17px 0px 24px 24px;
}

.footer__list_companys {
    display: none;
}

.footer__list__Companys_item {
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .container__footer {
        height: 450px;
        display: flex;
        flex-direction: row;
        gap: 61px;
        padding-top: 56px;
    }

    .footer__list_companys {
        display: block;
    }
    .footer_title {
        font-size: 24px;
        font-weight: 400px;
    }

    .footer__list__companys_title {
        text-transform: uppercase;
        color: var(--color-font-primary-footer);
    }

    .footer__list__Companys_list {
        margin: 25px 0px 25px 0px;
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
    }

    .footer__list__Companys_item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
        
    }
}

@media screen and (min-width: 1728px) {
    .container__footer {
        padding-left: 150px;
        gap: 208px;
    }

    .footer__list_companys {
        border-left: 1px solid var(--cinza);
        padding-left: 15px;
    }
}
 
